.card {
  width: 1126px;
  height: 600px;

  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px #8e54e9;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

  .streamersList {
    width: 272px;
  }
}

.streamPlayer {
  width: 854px;
  height: 480px;
  border-radius: 10px 0px 0px 0px;
}

.streamersList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;

  // max-height: 600px;
}

.streamerBtn {
  width: 250px;
  height: 50px;

  background: #161617;
  border-radius: 25px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;

  display: flex;
  cursor: pointer;

  img {
    border-radius: 25px;
  }

  .name {
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    padding-left: 10px;

    color: #ffffff;
  }

  .viewerCount {
    min-width: 50px;
    display: flex;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    font-size: 16px;
    margin-left: auto;
    margin-right: 10px;
    align-items: center;
    color: #ff8280;
  }
}

.streamerBtn.isSelected {
  box-shadow: 0px 0px 10px #4776e6;
}

.characterList {
  display: flex;
  justify-content: flex-start;
}

.characterInfoCard {
  width: 250px;
  height: 100px;
  display: flex;

  background: #161617;
  border-radius: 10px;
  // margin: 10px;
  margin: 5px;

  .characterImage {
    width: 70px !important;
    height: 100px !important;

    img {
      border-radius: 10px 0px 0px 10px;
    }
  }

  .rightRow {
    width: calc(250px - 70px);
    padding-left: 10px;

    .name {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      display: flex;
      align-items: center;
      height: 100%;

      white-space: pre-wrap;
    }
  }
}

@media only screen and (max-width: 1130px) {
  // mobile
  .card {
    max-width: 280px;
    display: flex;
    flex-direction: column-reverse;
  }
  .streamPlayer {
    display: none;
  }
  .characterList {
    display: none;
  }

  .streamersList {
    padding: 0px;
    // background-color: pink;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}

.streamviewericon {
  display: flex;
}
.streamviewericon,
.streamviewericon svg {
  color: #ff8280;
  fill: #ff8280;
}
