.main {
  min-height: calc(100vh - 30px);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    padding: 1rem;
    text-align: center;
    font-size: 2rem
    img{
      height: 2rem;
    }
  }

  .centerWrapper {
    margin-bottom: 1rem;
    p {
      text-align: center;
    }
  }
}

.footer {
  width: 100%;
  min-height: 30px;
  background: rgba(0, 0, 0, 0.4);

  a {
    display: inline-block;
    width: min-content;

    color: #fff;
    text-decoration: none;

    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    padding: 0px 10px;

    white-space: nowrap;
  }

  a.right {
    float: right;
  }
}

@media (max-width: 900px) {
  .footer a {
    display: block;
    float: none !important;
  }
}
